/**
 * NightShade app structures
 */
/**
 * NightShade app structures
 */
/**
 * Colors
 */
/**
 * Base Font Size
 */
html, body {
  margin: 0; }

div {
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.center-box-align, .ns .row.header, .ns .row.header .options-tray-control, .ns .row.footer .category {
  /* IE 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center; }

.ns {
  font-size: 0.5em;
  /**
   * iPhone 5 landscape
   */
  /**
   * iPhone 5 portrait
   */ }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .ns {
      font-size: 1em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .ns {
      font-size: 2em; } }
  .ns .row, .ns .col {
    position: absolute;
    overflow: hidden; }
  .ns .row {
    left: 0;
    right: 0;
    margin-left: 0; }
    .ns .row.header {
      top: 0;
      height: 109px;
      background-color: #000;
      color: #fff;
      /**
       * iPhone 5 landscape
       */
      /**
       * iPhone 5 portrait
       */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        .ns .row.header {
          height: 59px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        .ns .row.header {
          height: 109px; } }
      .ns .row.header .logo h1 {
        margin: 0; }
      .ns .row.header .options-tray-control {
        width: 15%;
        height: 100%;
        position: absolute;
        right: 0;
        font-size: 2em; }
        .ns .row.header .options-tray-control a {
          color: #fff;
          text-decoration: none; }
    .ns .row.body {
      top: 109px;
      bottom: 200px;
      /**
       * iPhone 5 landscape
       */
      /**
       * iPhone 5 portrait
       */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        .ns .row.body {
          top: 59px;
          bottom: 100px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        .ns .row.body {
          top: 109px;
          bottom: 200px; } }
      .ns .row.body .map {
        height: 100%; }
        .ns .row.body .map .status {
          width: 50%;
          position: absolute;
          left: 25%;
          z-index: 5;
          background-color: white;
          font-size: 0.75em;
          text-align: center; }
      .ns .row.body .list .table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0; }
        .ns .row.body .list .table thead > tr > th, .ns .row.body .list .table thead > tr > td, .ns .row.body .list .table tbody > tr > th, .ns .row.body .list .table tbody > tr > td, .ns .row.body .list .table tfoot > tr > th, .ns .row.body .list .table tfoot > tr > td {
          padding: 8px;
          line-height: 1.42857;
          vertical-align: top;
          border-top: 1px solid #dddddd; }
        .ns .row.body .list .table thead > tr > th {
          vertical-align: bottom;
          border-bottom: 2px solid #dddddd; }
    .ns .row.footer {
      bottom: 0;
      height: 200px;
      background-color: #000;
      color: #fff;
      /**
       * iPhone 5 landscape
       */
      /**
       * iPhone 5 portrait
       */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        .ns .row.footer {
          height: 100px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        .ns .row.footer {
          height: 200px; } }
      .ns .row.footer .category {
        width: 20%;
        height: 100%;
        float: left;
        font-size: 1.5em; }
  .ns .col {
    top: 0;
    bottom: 0; }
    .ns .col.main {
      left: 0;
      right: 0; }
    .ns .col.options-tray {
      width: 0;
      right: 0; }
      .ns .col.options-tray * {
        display: none; }
      .ns .col.options-tray {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background-color: #333333;
        color: #fff;
        z-index: 10; }
        .ns .col.options-tray .view-options a {
          color: #fff;
          text-decoration: none; }
        .ns .col.options-tray .view-options .option {
          width: 50%;
          float: left;
          text-align: center;
          font-size: 2em; }
          .ns .col.options-tray .view-options .option .option-text {
            display: none; }
        .ns .col.options-tray.active {
          width: 35%;
          padding: 20px;
          padding-top: 40px;
          /**
     * iPhone 5 landscape
     */
          /**
     * iPhone 5 portrait
     */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
            .ns .col.options-tray.active {
              width: 40%; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
            .ns .col.options-tray.active {
              width: 75%; } }
          .ns .col.options-tray.active * {
            display: block; }
  .ns .scroll-x {
    overflow-x: auto; }
  .ns .scroll-y {
    overflow-y: auto; }
