doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Cogito 

    link(rel="stylesheet", href="/vendor/icomoon/style.css")
    link(rel="stylesheet", href="/assets/css/nightshade.css")
    block styles

    script(src="vendor/js/jquery-1.10.2.js")
    script(src="vendor/js/angular.js")
    block scripts

  block content
  


