<% content_for :styles do %>
  <link rel="stylesheet" href="/assets/css/common.css"/>
  <link rel="stylesheet" href="/assets/css/cogito.css"/>
<% end %>

<% content_for :scripts do %>
  <!-- application -->
  <script src="app/cogito/app.js"></script>

  <!-- modules -->
  <script src="app/cogito/TableList/Table.js"></script>
  <script src="app/cogito/NewPlan/NewPlan.js"></script>
  <script src="app/cogito/Plan/Plan.js"></script>

  <!-- controllers -->
  <script src="app/cogito/CogitoCtrl.js"></script>

  <!-- common -->
  <script src="app/common/directives/Logo.js"></script>
  <script src="app/common/directives/Header.js"></script>
  <script src="app/common/directives/Navigation.js"></script>
  <script src="app/common/directives/Editable.js"></script>
  <script src="app/common/services/Plans.js"></script>


  <!-- lib -->
  <script src="app/lib/services/Communicator.js"></script>
<% end %>

<% content_for :content do %>
  <div ng-app="cogito" ng-controller="CogitoCtrl">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <alert class="cg-alert" ng-repeat="_alert in alert.list" type="_alert.type" close="alert.remove($index)">{{_alert.msg}}</alert>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <logo></logo>
        </div>
        <div class="col-sm-9">
          <header></header>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <navigation></navigation>
        </div>
        <div class="col-sm-9">
          <div ng-view></div>
        </div>
      </div> 
    </div>
  </div>
<% end %>