  <div class="row fill" ng-controller="MapCtrl">
    <div class="fill">
      <googlemap
        dd
        dd-droppable="true"

        points="map.points"
        center="map.center"
        bounds="map.bounds"
        zoom="map.zoom"

        on-map-centerchanged=""
        on-map-boundschanged=""
        on-map-click=""
        on-map-dblclick=""
        on-map-drag=""
        on-map-dragend=""
        on-map-dragstart=""
        on-map-tilesloaded=""
        on-map-zoomchanged=""

        on-marker-add="markers.add(marker)"
        on-marker-click="markers.click(marker)"
      ></googlemap>
    </div>

    <div class="col-sm-3 afix afix-left" animate animate-show="palattePanel.show">
      <div class="afix-content">
        <markerpalatte></markerpalatte>
      </div> 

      <button class="btn btn-sm afix-btn" ng-click="ne5.toggle('palattePanel', 'show')">
        <span class="glyphicon glyphicon-chevron-right"></span>        
      </button>
    </div>

    <div class="col-sm-3 afix afix-right" animate animate-show="controlPanel.show">
      <div class="afix-content">
        <statsviewer markers="markers.collection.length" map-bounds="map.bounds" map-center="map.center" map-zoom="map.zoom"></statsviewer>
        <markerviewer marker="map.marker"></markerviewer>
      </div>
      <button class="btn btn-sm afix-btn" ng-click="ne5.toggle('controlPanel', 'show')">
        <span class="glyphicon glyphicon-chevron-left"></span>        
      </button>
    </div>
  </div>
