<!DOCTYPE HTML>
<html>
  <head>
    <title>Cogito</title>

    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>

    <%= yield_content :styles %>    

    <script src="/vendor/js/jquery-1.10.2.js"></script>
    <script src="/vendor/js/angular.js"></script>
    <script src="/vendor/bootstrap/js/ui-bootstrap-tpls-0.6.0.js"></script>
    <%= yield_content :scripts %>
  </head>
  <body>
    <%= yield_content :content %>
  </body>
</html>