<% content_for :styles do %>
  <link rel="stylesheet" href="/vendor/css/toggle-switch.css"/>
  <link rel="stylesheet" href="/assets/css/common.css"/>
  <link rel="stylesheet" href="/assets/css/welcome.css"/>
<% end %>

<% content_for :scripts do %>
  <!-- application -->
  <script src="app/welcome/app.js"></script>

  <!-- controllers -->
  <script src="app/welcome/WelcomeCtrl.js"></script>

  <!-- directives -->
  <script src="app/welcome/Register.js"></script>
  <script src="app/welcome/Login.js"></script>
  <script src="app/welcome/ToggleView.js"></script>

  <!-- services -->
  <script src="app/lib/services/Communicator.js"></script>
<% end %>

<% content_for :content do %>
  <div ng-app="welcome" ng-controller="WelcomeCtrl">

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <alert class="cg-alert" ng-repeat="_alert in alert.list" type="_alert.type" close="alert.remove($index)">{{_alert.msg}}</alert>
        </div>
      </div>
    </div>

    <div class="container login-container">
      <section> 
        <div class="row">
          <div class="col-sm-4"></div>
          <div  class="col-sm-4">
            <toggleview switch="toggleView.switch" views="welcome.views" selected="welcome.selected" on-toggle="toggleView(view)"></toggleview>
            <login on-login="login(email, password)"></login>
            <register on-register="register(user)"></register>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </section>
    </div>
  </div>
<% end %>