& {
  $tray_padding: 20px;
  $tray_padding_top: 40px;

  @include transition(0.2s);

  background-color: $tray_background_color;
  color: $font_color;

  z-index: $options_tray_z_index;

  @import "view-options";

  &.active {
    width: $options_tray_width; 
    padding: $tray_padding;
    padding-top: $tray_padding_top;

    /**
     * iPhone 5 landscape
     */
    @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {
      width: $mobile_landscape_options_tray_width;
    }

    /**
     * iPhone 5 portrait
     */
    @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: portrait) {
      width: $mobile_portrait_options_tray_width;
    }

    * {
      display: block;
    }
  }
}