.login-container {
	margin-top: 100px;	
}

.registration input.ng-invalid.ng-dirty {
	background-color:#fa787e;
}

.registration input.ng-valid.ng-dirty {
	background-color:#78fa89;
}

.toggle-switch {
	width: 100%;
}

.toggle {
	margin-left: 0;
}

.toggle span.toggle-wrapper {
	position: absolute;
	left: -100px;
	width: 100%;
	margin: 0;
	padding-right: 100px;
	text-align: left;
}

.toggle span.toggle-label {
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 5;
	display: block;
	width: 50%;
	margin-left: 100px;
	margin-top: 6px;
	text-align: center;
}

.toggle span.toggle-label:last-child {
	left: 50%;
}

.registration button {
	width: 50%;
	display:inline;
}

form[name=loginForm],
form[name=registrationForm] {
	margin-bottom:0;
}

form div.wrapper {
	overflow:hidden;
}