/**
 * NightShade app structures
 */

 /**
 * NightShade app structures
 */

$APP_NAMESPACE: "ns";

$header_height: 109px;
$categories_height: 200px;

$options_tray_width: 75%;
$options_tray_z_index: 10;

$map_status_z_index: 5;

$header_background_color: #000;
$tray_background_color: #333333;
$footer_background_color: #000;

$mobile_font_size: 3em;
$font_color: #fff;

@import "includes/reset";
@import "includes/common";

.ns {

  font-size: $mobile_font_size;

  .row, .col {
    position: absolute;
    overflow: hidden;
  }

  .row {
    left: 0;
    right: 0;

    margin-left: 0;

    &.header {
      @extend .center-box-align;

      top: 0;
      height: $header_height;

      background-color: $header_background_color;
      color: $font_color;

      @import "header/logo";
      @import "header/options-tray-control";
    }

    &.body {
      top: $header_height;
      bottom: $categories_height;


      @import "body/map/map";
      @import "body/list/list";
    }

    &.footer {
      bottom: 0;
      height: $categories_height;

      background-color: $footer_background_color;
      color: $font_color;

      @import "footer/categories";
    }
  }

  .col {
    top: 0;
    bottom: 0;

    &.main {
      left: 0;
      right: 0;
    }

    &.options-tray {
      width: 0;
      right: 0;

      * {
        display: none;
      }

      @import "body/options-tray/options-tray";
    }
  }

  .scroll-x {
    overflow-x: auto;
  }

  .scroll-y {
    overflow-y: auto;
  }
}