/**
 * NightShade app structures
 */

 /**
 * NightShade app structures
 */

$APP_NAMESPACE: "ns";

$header_height: 109px;
$categories_height: 200px;

$left_tray_width: 25%;

@import "includes/common";
@import "includes/view-options";


.ns {
  .row, .col {
    position: absolute;
  }

  .row {
    left: 0;
    right: 0;

    margin-left: 0;

    border: 1px solid blue;

    &.view-tray-active.header {
      left: $left_tray_width;
    }

    &.header {
      top: 0;
      height: $header_height;

      @include transition(1.0s);

      @import "header/view-tray";
    }

    &.body {
      top: $header_height;
      bottom: $categories_height;
    }

    &.categories {
      bottom: 0;
      height: $categories_height;
    }
  }

  .scroll-x {
    overflow-x: auto;
  }

  .scroll-y {
    overflow-y: auto;
  }
}