<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" ng-model="newPlan.plan.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" rows="3" ng-model="newPlan.plan.description"></textarea>
  </div>
  <div class="form-group">
    <input class="btn btn-medium btn-info" type="submit" value="Plan it!" ng-click="newPlan.save(newPlan.plan)">
  </div>
</form>