.center-box-align {
  /* IE 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  /* Safari */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;

  text-align: center;
}

@mixin transition($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;  
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

$iphone5_min_width: 320px;
$iphone5_max_width: 568px;

$mobile_min_width: 320px;
$mobile_max_width: 480px;

$

/**
 * respond_to
 * responsive mixin to return a media query 
 * based on the device type that was provided
 * @param $device_type - iphone, mobile, desktop
 * @param $orientation - landscape, portrait | default is landscape
 */
@mixin respond_to($device_type, $landscape:"") {
    @if $device_type == iphone {

        @if $landscape == "" {
            @media only screen 
                and (min-device-width: $iphone5_min_width)
                and (max-device-width: $iphone5_max_width) { @content }
        }

        @media only screen 
            and (min-device-width: $iphone5_min_width)
            and (max-device-width: $iphone5_max_width)
            and (orientation: $landscape) { @content }

    }

    @if $device_type == mobile {

        @if $landscape == "" {
            @media only screen
                and (min-device-width: $mobile_min_width)
                and (max-device-width: $mobile_max_width) { @content }
        }

        @media only screen
            and (min-device-width: $mobile_min_width)
            and (max-device-width: $mobile_max_width)
            and (orientation: $landscape) { @content }
    }

    @if $device_type == desktop {
        @media only screen
            and (min-width: $desktop_min_width) { @content }
    }

}
