
extend layout

block styles

block scripts
  - var _app = 'cogito'
  script(src="/vendor/bootstrap/js/ui-bootstrap-tpls-0.6.0.js")
  script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBWK37_pyvhGcOq98hEFVhSkL-XqaSR2F0&sensor=true")
  //- script(src="/vendor/js/OpenLayers.js")
  //- script(src="/socket.io/socket.io.js")

  script(src="app/#{_app}/app.js")

  //- modules
  script(src="app/cogito/List/List.js")
  script(src="app/cogito/Map/Map.js")

  //- common
  script(src="app/common/directives/Logo.js")
  script(src="app/common/directives/Header.js")
  script(src="app/common/directives/Navigation.js")
  script(src="app/common/directives/Editable.js")
  script(src="app/common/directives/GoogleMap.js")
  script(src="app/common/services/Plans.js")
  script(src="app/common/services/AroundMe.js")
  script(src="app/common/services/LatLngConverter.js")
  script(src="app/common/services/CurrentLocation.js")
  //- services
  //- script(src="app/#{_app}/Socket.js")

  //- directives

  //- lib
  script(src="app/lib/services/Communicator.js")

block content
  div(ng-app="cogito", ng-controller="CogitoCtrl")
    div.container
      
      div.row
        div.span3
          include includes/navigation
        div.span9(ng-view, style="height: 700px;")

      div.row(style="margin-top:20px")
        div.span9

          h3 Data Status
          pre {{debug.status}}
          
          h3 Selected Event
          pre {{debug.marker | json}}

