
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title NightShade

    link(rel="stylesheet", href="/assets/css/nightshade.css")

  body
    div(class="ns")

      div(class="row view-options-container")
        div(class="view-option map-option border-right")
          h1 Map
        div(class="view-option list-option")
          h1 List

      div(class="row body")
        

      div(class="row categories-container")
      

