div.well
  ul.nav.nav-pills
    //- if admin
      li.nav-header Admin Controls
        li.active
          a(href="#")
    li
      a(href="#") Home
    li
      a(href="#/map") Map
    li
      a(href="#/plans/new") New Plan
    li.divider
    li
      a.muted(href="#help") Help
    li
      a.muted(href="/logout") Logout

